@import "tailwindcss";


/* CUSTOM SCROLL BAR STYLES */
::-webkit-scrollbar {
    width: 0px;
    height: 0px
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #FFF;
    border-radius: 50%;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(154, 13, 190, 0.5);
    border-radius: 10px;
  }
